/* 

#slider111 {
    position: absolute !important;
    right: 31% !important;
    bottom: 4.25rem;
    left: 15% !important;
    padding-top: 1.25rem !important;
    padding-bottom: 2.25rem !important;
    color: white !important;
    font-weight: bold;
    text-align: right !important;
} 


 */
